<?xml version="1.0"?>
<config>
	<option name="app-name">intranet</option>
	<option name="db-conn">jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=dizzy)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = ORCL)))</option>
	<option name="db-user">samara</option>
	<option name="db-password">samara</option>
	<option name="tomcat-dir">~/soft/tomcat</option>
</config>
